:root {
  --slate-900: #1F314F;
  --slate-500: #68778D;
  --slate-300: #D5E1EF;
  --white: #FFFFFF;

  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--slate-300);
}

.card {
  padding: 1rem;
  width: 20rem;
  margin: auto;
  border-radius: 1.25rem;
  background-color: var(--white);
  box-shadow: 0 1rem 3rem rgba(31, 49, 79, 0.165);
}

.card__image {
  width: 18rem;
  aspect-ratio: 1 / 1;
  border-radius: 0.625rem;
}

.card__title {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.2;
  color: var(--slate-900);
  margin: 1.5rem 1rem 1rem 1rem;
}

.card__description {
  font-size: 0.938rem;
  line-height: 1.4;
  letter-spacing: 0.013rem;
  color: var(--slate-500);
  margin: 1rem 1rem 1.5rem 1rem;
}

.attribution {
  margin-top: 1.5rem;
  font-size: 0.688rem;
  color: var(--slate-500);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
